[submodule "translations"]
	path = translations
	url = https://github.com/qomp/translations.git
[submodule "themes"]
	path = themes
	url = http://github.com/qomp/themes
[submodule "src/singleapplication"]
	path = src/singleapplication
	url = https://github.com/wadealer/SingleApplication
[submodule "ga"]
	path = ga
	url = https://github.com/wadealer/qt-google-analytics.git
[submodule "android_openssl"]
	path = android_openssl
	url = https://github.com/KDAB/android_openssl.git
