Makefile
Makefile.Release
Makefile.Debug
._*
*.moc
*.o
*.pdb
*.orig
*.rej
qrc_*
ui_*
moc_*
release/
debug/
.moc/
.ui/
.obj/
.rcc/
*.user
*.user.*
./qomp*
*object_script.*
qomp_*.deb
description-pak
backup*qomp.tgz
qomp.pbproj/
qomp.app/
*.dmg
bin/
android/assets/
.DS_Store
libqomp/include/
android/gradle.properties*
android/local.properties*
gradle-wrapper.properties~
