[submodule "translations"]
	path = translations
	url = https://github.com/qomp/translations.git
[submodule "themes"]
	path = themes
	url = http://github.com/qomp/themes
[submodule "src/singleapplication"]
	path = src/singleapplication
	url = https://github.com/wadealer/SingleApplication
