<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>qomp.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
        <string>qomp 1.3</string>
	<key>CFBundleSignature</key>
	<string>qomp</string>
	<key>CFBundleExecutable</key>
	<string>qomp</string>
	<key>CFBundleIdentifier</key>
        <string>net.sourceforge.qomp</string>
	<key>NOTE</key>
        <string>http://qomp.sourceforge.net</string>
        <key>CFBundleDocumentTypes</key>
        <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>CFBundleTypeName</key>
            <string>qomp media file</string>
            <key>CFBundleTypeMIMETypes</key>
            <array>
                <string>audio/*</string>
            </array>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>mp3</string>
                <string>ogg</string>
                <string>ape</string>
                <string>flac</string>
                <string>cue</string>
                <string>wav</string>
                <string>m3u</string>
                <string>m3u8</string>
                <string>pls</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>qomp-file.icns</string>
        </dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>CFBundleTypeName</key>
            <string>qomp playlist</string>
            <key>CFBundleTypeMIMETypes</key>
            <array>
                <string>text/plain</string>
            </array>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>qomp</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>qomp-file.icns</string>
        </dict>
        </array>
        <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSAllowsArbitraryLoads</key><true/>
        </dict>
</dict>
</plist>
