[Desktop Entry]
Version=1.0
Type=Application
Name=qomp
GenericName=Online Music Player
Encoding=UTF-8
Comment=Online Music Player
Icon=qomp
Exec=qomp %F
Categories=AudioVideo;Audio;Player;Qt;
Terminal=false

MimeType=audio/mpeg;audio/ogg;audio/flac;audio/vorbis;audio/x-vorbis;audio/x-vorbis+ogg;application/x-cue;audio/x-mpegurl;audio/x-scpls;
